@media(min-width:767px) {
    .navbar {
        -webkit-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.22);
-moz-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.22);
box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.22);
    }

    .top-nav-collapse {
        padding: 0;
    }
}
.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.small .navbar .navbar-inner {
    min-height: 30px;
}
.icon-size{
    font-size: 87px;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 5px;
  width: auto;
}
.navbar {
background: #fff;
border: 0px;

}
.navbar-default .navbar-nav>li>a {
    color: #383838;
    font-family:"Libel Suit";
    font-size: 18px;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #878787;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
      color: #878787;
      border-bottom: 1px solid #fff;
 }
